body{
    margin: 0;
    padding:0;
    line-height: 0.5;
    background-image: linear-gradient(to right bottom, #1c9053, #009d9f, #00a1dd, #7898f0, #da8ad3);
    font-family: sans-serif;
}

.heading-1{
    margin-left: 30px;
    margin-top: 220px;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow:2px 2px 2px rgb(65, 64, 64) ;
    
}
h2 span span {
    position: relative;
    opacity: 0;
    animation: move-text 0.85s forwards;
    animation-iteration-count: infinite;
}

@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}
.header{
    height: 30px;
    width: 100%;
    background-image: linear-gradient(to right bottom, #1c9053, #009d9f, #00a1dd, #7898f0, #da8ad3);
}
.header-content{
    height: 60px;
    width: 100%;
    color: white;
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow:2px 2px 2px rgb(65, 64, 64) ;


}
.calci{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100;
    position: absolute;
    top:50%;
    left:70%;
    transition:0.25px;
    transform: translate(-50%,-50%);
    text-align: center;
}
#zero{

height: 55;
width: 116;
font-size: 20;
    font-family: sans-serif;
    font-weight: 300;

}

#display{

    border:none;
    background: white;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    
    border:2px solid white(5, 218, 255, 0.726);
    color: black;



}
.button{
    width: 55;
    height: 55;
    padding-top: -1;
    font-size: 20;
    border: none;
    background: white;
    font-family: sans-serif;
    font-weight: 300;
    border:0;
    border-radius: 30px;
    margin: 1.5;
    transition:0.25px;


}

h1{
    margin-top: 300px;
    margin-left: 100px;
    font-family: sans-serif;

    font-size:50;

    text-decoration: underline;

color: white;
text-transform: uppercase;
font-weight: 700;}

h2{

    color: white;
    margin-top: -1px;
    font-family: sans-serif;
    margin-left: 438px;
}
.operator{
    width: 55;
    height: 55;
    padding-top: -1;
    font-size: 20;
    text-align: center;
    color: black;
    border: none;
    background: white;
    font-family: sans-serif;
    font-weight: 500;
    border:0;
    border-radius: 30px;
    margin: 1.5;
    transition:0.25px;
    cursor:pointer;



}


.operator:hover{
    background: #509b91;
} 